{% extends 'base.html.twig' %}

{% block title %}Mon panier - GreenGoodies{% endblock %}

{% block body %}

<div class="blockAccount">

    <h1>Mon compte</h1>

    <section class="myAccount">

        <h2>Mes commandes</h2>

        {% if orders is not empty %}
            <table>
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Date</th>
                        <th>Prix</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ '%02d'|format(order.id) }}</td>

                            <td>{{ order.createdAt|date('d/m/Y') }}</td>
                            <td>{{ order.totalPrice|euro }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Vous n'avez encore passé aucune commande.</p>
        {% endif %}
    </section>
    <section class="apiAccess">
    <h2>Mon accès API</h2>
    <form method="post" action="{{ path('account_toggle_api_access') }}">
        <input type="hidden" name="_token" value="{{ csrf_token('toggle_api_access') }}">
        <button class="submitAccount submit" type="submit">
            {{ app.user.isApiAccessEnabled ? 'Désactiver mon accès API' : 'Activer mon accès API' }}
        </button>
    </form>
</section>

    <section class="deleteAccount">
<form method="post" action="{{ path('account_delete') }}">
<input type="hidden" name="_token" value="{{ csrf_token('delete_account') }}">
        <button class="submitAccount submit" type="submit">Supprimer mon compte</button>
</form>
    </section>
</div>
{% endblock %}