{# templates/product/productList.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nos produits - GreenGoodies{% endblock %}

{% block body %}
<section class="homeProducts">
        <h2>NOS PRODUITS</h2>
        <div class="productGrid">
            {% for product in products %}
                <div class="productCard home">
                    <div class="imgProduct">
                        <img src="{{ asset('uploads/products/' ~ product.picture) }}" alt="{{ product.name }}">
                    </div>
                    <div class="textProduct">
                        <h3>{{ product.name }}</h3>
                        <p class="shortDescription">{{product.shortDescription}}</p>
                        <p class="price">{{ product.price }} €</p>
                        <a class="linkProduct" href="{{path('app_product', {'id': product.id})}}">Voir le produit</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </section>
{% endblock %}
