{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - GreenGoodies{% endblock %}

{% block body %}
<div class="containerBlock">
    <section class="leftProductBlock">
        <img src="{{ asset('uploads/products/' ~ product.picture) }}" alt="{{ product.name }}">
    </section>

    <section class="rightProductBlock">
        <h1 id="titleProduct">{{ product.name }}</h1>
        <p id="priceTag">{{ product.price }} €</p>
        <p id="descriptionTitle">Description</p>

        <div class="blockTextDescription">
            <p class="descriptionText">{{ product.fullDescription }}</p>
        </div>

        <div class="submitProduct">
            {% if not app.user %}
                <a class="btn" href="{{ path('app_login') }}">Se connecter pour ajouter au panier</a>
            {% else %}
                <form method="post" action="{{ path('add_to_cart', { id: product.id }) }}">
    <label for="quantity">Quantité</label>
    <input type="number" name="quantity" id="quantity"
           value="{{ cartItem ? cartItem.quantity : 0 }}"
           min="0" required>
    <button class="submit" type="submit">
        {{ cartItem ? 'Mettre à jour' : 'Ajouter au panier' }}
    </button>
</form>

            {% endif %}
        </div>
    </section>
</div>
{% endblock %}
