<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}Green Goodies{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
    <header>
        <nav>
            <a href="{{ path('app_home') }}"><img src="images/Logo.png"></a>
            <ul class="navItems">
                {% if app.user %}
                    <li><a href="{{ path('app_products') }}">Nos produits</a></li>
                    <li><a href="{{ path('app_cart') }}">Mon panier</a></li>
                    <li><a href="{{ path('app_account') }}">Mon compte</a></li>
                    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% else %}
                    <!-- <li><a href="{{ path('app_products') }}">Nos produits</a></li>
                    <li><a href="{{ path('app_cart') }}">Mon panier</a></li>
                    <li><a href="{{ path('app_account') }}">Mon compte</a></li> -->
                    <li><a href="{{ path('app_login') }}">Connexion</a></li>
                    <li><a href="{{ path('app_register') }}">Inscription</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <p>© GreenGoodies - {{ "now"|date("Y") }}</p>
    </footer>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
